* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #f7934c;
    text-align: center;
}

.h1 {
    padding: 1rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    display: flex;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;


}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.7);
    font-size: 8vmin;
    color: #d64933;
    background-color: #eaf0ce;
}

#reset-btn {
    height: 5vmin;
    width: 30vmin;
    font-size: 3vmin;
    background-color: black;
    cursor: pointer;
    color: white;
    border-radius: 1rem;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);

}

.win {
    color: #eaf0ce;
    font-size: xx-large;
    padding: 0.5rem;
    margin: 0.8rem;

}

#new-btn {
    height: 5vmin;
    width: 30vmin;
    font-size: 3vmin;
    background-color: black;
    cursor: pointer;
    color: white;
    border-radius: 1rem;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    
}

.msg-container {
    height: 18vmin;

}

.hide {
    display: none;
}

.box:hover {
    background-color: #ffffff;
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.box:active {
    transform: scale(0.9);
}