* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #141e30, #243b55);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

#new-btn {
    margin-top: 30.5rem;
    padding: 10px 25px;
    border-radius: 30px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    background: #eeff00;
    color: #111;
    transition: 0.3s ease;
    margin-left: m;
}

main {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 3rem;
    letter-spacing: 2px;
    animation: fadeIn 1s ease-in-out;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 15px;
}


.box {
    height: 100px;
    width: 100px;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    backdrop-filter: blur(10px);
    transition: all 0.3s ease;
}


.box:hover {
    transform: scale(1.1);
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

.box:active {
    transform: scale(0.95);
}

#reset-btn {
    margin-top: 20px;
    padding: 10px 25px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    background: #ff416c;
    color: white;
    transition: all 0.3s ease;
}

#reset-btn:hover {
    background: #ff4b2b;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(255, 75, 43, 0.4);
}


.msg-container {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 999;
    text-align: center;

}

.win {
    margin-top: 20px;
    font-size: 2.5rem;
    font-weight: bold;
    color: #00ffcc;
    animation: textGlow 1s infinite alternate;
}



.popup {
    background: white;
    color: black;
    padding: 30px 50px;
    border-radius: 20px;
    text-align: center;
    animation: scaleUp 0.4s ease-in-out;
    box-shadow: 0 0 20px #00ffcc 0 0 40px #00ffcc 0 0 80px #00ffcc ;


}

.popup button {
    margin-top: 15px;
    padding: 8px 20px;
    border: none;
    border-radius: 20px;
    background: #4CAF50;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.popup button:hover {
    background: #45a049;
    transform: scale(1.05);
}


.hide {
    display: none;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes scaleUp {
    from { transform: scale(0.7); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}

@keyframes textGlow {
    from {
        text-shadow: 0 0 5px #00ffcc,
                     0 0 10px #00ffcc;
    }
    to {
        text-shadow: 0 0 20px #00ffcc,
                     0 0 40px #00ffcc;
    }
}
